<div class="container">

<h1>Add an employee</h1>

<%= form_with scope: :post, url: "/employees" do |form| %>

    <%= render partial: "form", :locals => {:employee => @employee , :form => form} %>

    <div class="button">
        <%= form.submit "Save"%>
    </div>
<% end %>

<span><%= link_to "Back", show_all_employees_path%></span>

</div>